/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink';
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

html, body { height: 100%; }
body {
     margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-y: hidden;      /* "auto" or "thin" */
 }

.t_order_2{
    order : 2
}

.t_backgroundBlack{
    background-color: black;
}

.t_width_100{
    width:  100%;
}

.t_height_100{
height : 100%;
}

.t_height_90{
    height : 90%;
}

.t_height_50{
    height : 50%;
}

.t_height_30{
    height : 30%;
}

.t_z_index{
z-index: 999;
}

.t_overflow-y_auto{
    overflow-y : auto;
}

.t_margin{
    margin: 10px;
}

.layout-height{
    height : 100%
}

.t_row{
    display: flex;
}

.t_justifycontentSpaceBetween{
    justify-content: space-between;
}

  .scrollstyle{
    scrollbar-width: 10px;
    scrollbar-width: thin;
    border-radius: 20px;
    scroll-behavior: auto;
  }
  
  ::-webkit-scrollbar-thumb {   
    border-radius: 30px;
    background: #dadada;
}
   
    ::-webkit-scrollbar-track {     
    background-color: #fff;
    background: #e2e2e2
  }
  /* Works on Chrome, Edge, and Safari */


  ::-webkit-scrollbar {
    width: 10px;          
 }