/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink';
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: hidden; }

.t_order_2{
    order : 2
}

.t_width_100{
    width:  100%;
}

.t_height_100{
height : 100%;
}

.t_height_90{
    height : 90%;
}

.t_height_50{
    height : 50%;
}

.t_height_30{
    height : 30%;
}

.t_z_index{
z-index: 999;
}

.t_overflow-y_auto{
    overflow-y : auto;
}

.layout-height{
    height : calc(100vh - 180px);
}