.content{
    margin-top: 5%;
    min-width: 300px;
}
  /* Add application styles & imports to this file! */

.main {
    height : 100vh;
    margin: 10px;
  }

.category_layout::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.category_layout::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #3f51b5 
}