.content{
    min-width: 300px;
    margin-top: 5%;
}
  /* Add application styles & imports to this file! */

.main {
    height : 100vh;

  }

.scrollstyle::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.scrollstyle::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #babdb7 
}

.mat-column-Id{
  width: 20%;
  text-align: center;
}

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate{
  background-color:  #3f51b5 !important;
}


/* removed css */

tr.kural-grid-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.kural-grid-row:not(.example-expanded-row):active {
  background: #efefef;
}

.kural-grid-row td {
  border-bottom-width: 0;
}

.kural-grid-detail {
  overflow: hidden;
}
