<div class="layout-height">

	<h1 class="t_margin10">{{kuralgrid[0].ChapterId}}. {{kuralgrid[0].Chapter}}</h1>
	<mat-divider></mat-divider>


	<mat-paginator class="t_height_10  mat-paginator-sticky" [length]="totalRows" [pageSize]="pagesize" [hidePageSize]="mobileQuery.matches?true:false"
		[pageSizeOptions]="pagesizeoptions" [showFirstLastButtons]="true" (page)="pageChanged($event)"
		aria-label="Select page of kural">
	
	</mat-paginator>
	<table *ngIf="!mobileQuery.matches" mat-table [dataSource]="dataSource" multiTemplateDataRows
		class="t_width_100 mat-elevation-z8">

		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
			<th style="text-align: center;"  mat-header-cell *matHeaderCellDef> {{column}} </th>
			<td style="text-align: center;"  mat-cell *matCellDef="let element">
				<div *ngIf="column==trans_kuralno">{{element?.KuralId}}</div>
				<div *ngIf="column==trans_colCategories">
					<p>{{element?.Cg}}/{{element?.Section}}</p>
				</div>
				<div *ngIf="column==trans_kural">
					<p>{{element?.FirstLine}}</p>
					<p>{{element?.SecondLine}}</p>
				</div>
				<div *ngIf="column==trans_transliteration">
					<p>{{element?.TransFirstLine}}</p>
					<p>{{element?.TransSecondLine}}</p>
				</div>
			</td>
		</ng-container>

		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
				<div class="kural-grid-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

					<mat-card class="kural-detail">
						<b>{{trans_kalaignar}}:</b>
						<p>{{element?.DefinitionKalaignar}}</p>

						<b>{{trans_pappaiyaa}}:</b>
						<p>{{element?.DefinitionPapaiya}}</p>

						<b>{{trans_muva}}:</b>
						<p>{{element?.DefinitionMuVa}}</p>

						<b>{{trans_engcouplet}}:</b>
						<p>{{element?.English}}</p>

						<b>{{trans_engexp}}:</b>
						<p>{{element?.Explanation}}</p>
					</mat-card>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns;" class="kural-grid-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="kural-grid-row"></tr>

	</table>

	<table *ngIf="mobileQuery.matches" mat-table [dataSource]="dataSource" multiTemplateDataRows
		class="t_width_100 mat-elevation-z8">

		<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedMobColumns">
			<th  mat-header-cell *matHeaderCellDef> {{column}} </th>
			<td  mat-cell *matCellDef="let element">
				<div *ngIf="column==trans_kuralno">{{element?.KuralId}}</div>
				<div *ngIf="column==trans_kural">
					<p>{{element?.FirstLine}}</p>
					<p>{{element?.SecondLine}}</p>
				</div>
				<div *ngIf="column==trans_transliteration">
					<p>{{element?.TransFirstLine}}</p>
					<p>{{element?.TransSecondLine}}</p>
				</div>
			</td>
		</ng-container>

		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="displayedMobColumns.length">
				<div class="kural-grid-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

					<mat-card class="kural-detail">
						<b>{{trans_kalaignar}}:</b>
						<p>{{element?.DefinitionKalaignar}}</p>

						<b>{{trans_pappaiyaa}}:</b>
						<p>{{element?.DefinitionPapaiya}}</p>

						<b>{{trans_muva}}:</b>
						<p>{{element?.DefinitionMuVa}}</p>

						<b>{{trans_engcouplet}}:</b>
						<p>{{element?.English}}</p>

						<b>{{trans_engexp}}:</b>
						<p>{{element?.Explanation}}</p>
					</mat-card>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedMobColumns"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedMobColumns;" class="kural-grid-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="kural-grid-row"></tr>

	</table>

	<mat-paginator class=" t_height_10  mat-paginator-sticky" [length]="totalRows" [pageSize]="pagesize" [hidePageSize]="mobileQuery.matches?true:false"
		[pageSizeOptions]="pagesizeoptions" [hidePageSize]="true" (page)="pageChanged($event)" 
		aria-label="Select page of kural">
	</mat-paginator>
</div>