<div class="main">
	<div class="content" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div class="layout-height" fxFlex="20" fxFlex.xs="55">
			<mat-card class="t_height_100">

				<div class="t_height_100 category_layout t_overflow-y_auto">
					<div mat-subheader>{{trans_categories}} ({{categories.length}}) </div>
					<mat-action-list *ngFor="let category of categories">
						<button mat-list-item (click)="save()"> {{category.name}} ({{category.count}}) </button>
					</mat-action-list>
				</div>
			</mat-card>
		</div>

		<div fxFlex="60" class="layout-height">
			<mat-card class="t_height_100">
				
			</mat-card>
		</div>

		<div class="layout-height" fxFlex="20" fxFlex.xs="15">
			<mat-card class="t_height_100">

				<div style="height: 40%;">
					<div mat-subheader>{{trans_sections}} ({{sections.length}}) </div>
					<mat-action-list *ngFor="let section of sections">
						<button mat-list-item (click)="save()"> {{section.name}} ({{section.count}}) </button>
					</mat-action-list>
				</div>

				<mat-divider></mat-divider>
			
				<div style="height: 60%;" class="category_layout t_overflow-y_auto">
					<div mat-subheader>{{trans_subsections}} ({{subsections.length}}) </div>
					<mat-action-list *ngFor="let subsection of subsections">
						<button mat-list-item (click)="save()"> {{subsection.name}} ({{subsection.count}}) </button>
					</mat-action-list>
				</div>
			</mat-card>
		</div>

	</div>

</div>