.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {

    list-style-type: none;
  }
  
  .checklist-leaf-node {
    padding-left: 40px;
  }

  .submit-button {
    margin-top: 10px;
  }

  .mat-tree-node {
    min-height: 25px;
}